#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-section {
  width: 100%;
  display: flex;
}

.pagenumber-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}